@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Jost Variable", sans-serif;
}

.title {
  font-family: "Noto Sans JP Variable", sans-serif;
  font-weight: 900;
  font-size: 24px;
}
h4 {
  @apply font-bold text-xl;
}
.input-form {
  @apply w-[300px] p-2 border border-gray-300 rounded-md outline-1 outline-sky-500;
}
.btn-form {
  @apply w-[300px] p-2 border border-gray-300 rounded-md bg-sky-500 text-white font-bold hover:bg-sky-600 duration-200;
}
